/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---css reset---*/
body {
  font-family: PingFangTC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

@media (max-width: 414px) {
  .container {
    max-width: 315px;
  }
}

.checkout-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}

@media (max-width: 414px) {
  .checkout-card {
    margin: 0;
  }
}

.checkout-card .left {
  width: 460px;
}

@media (max-width: 414px) {
  .checkout-card .left {
    width: 100%;
  }
}

.checkout-card .right {
  width: 300px;
  margin-left: 20px;
}

@media (max-width: 414px) {
  .checkout-card .right {
    display: none;
  }
}

.left .left-content {
  padding: 30px 40px;
  background-color: #3F5D45;
  color: #EAF0ED;
}

.left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.right .subtitle {
  padding: 16px 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #8DA291;
  background-color: #EAF0ED;
}

.right .right-content {
  padding: 16px 20px;
  line-height: 1.25rem;
  color: #8DA291;
  border: 1px solid #EAF0ED;
}

.price-mark {
  font-size: 1.25rem;
  font-weight: 600;
}

.shoppingList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoppingList img {
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

.row label {
  display: block;
  font-size: 1.25rem;
  color: #EAF0ED;
  font-weight: 600;
}

.row input[type="text"], .row .form-select {
  width: 100%;
  font-size: 1rem;
  padding: 17px 20px;
  border: 0;
  background-color: #EAF0ED;
  color: #8DA291;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.row input[type="text"]::-webkit-input-placeholder {
  color: #8DA291;
}

.row input[type="text"]:-ms-input-placeholder {
  color: #8DA291;
}

.row input[type="text"]::-ms-input-placeholder {
  color: #8DA291;
}

.row input[type="text"]::placeholder {
  color: #8DA291;
}

.row-fluid {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

select {
  background: url(../image/unfold_more_primary_24dp.svg) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #EAF0ED;
}

footer .footer-container {
  width: 780px;
  margin: 0 auto;
}

@media (max-width: 414px) {
  footer .footer-container {
    width: 315px;
  }
}

.mailme {
  background-color: #3F5D45;
  font-size: 1.5rem;
}

.mailme .mailme-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .mailme .mailme-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mailme .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 414px) {
  .mailme .title {
    margin-bottom: 30px;
  }
}

.mailme .logo {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.mailme p {
  color: #EAF0ED;
}

.input-group {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3F5D45;
  background-color: #EAF0ED;
}

@media (max-width: 414px) {
  .input-group {
    width: 100%;
  }
}

.input-group .icon {
  padding: 16px 20px;
}

.input-group input {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  color: #8DA291;
  background-color: #EAF0ED;
  border: 0;
  padding: 0;
}

.input-group input:focus {
  outline: 0;
}

.input-group .submit {
  color: #3F5D45;
  background-color: #FFE180;
  cursor: pointer;
  border: 1px solid #FFE180;
  padding: 0;
  margin: 0;
}

.input-group .submit span {
  padding: 16px 20px;
}

.footer-main {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.footer-main .logo-lg-dark {
  margin-top: 8.9px;
  margin-bottom: 115.5px;
}

@media (max-width: 414px) {
  .footer-main .logo-lg-dark {
    margin-bottom: 39.5px;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info {
  margin-bottom: 30px;
}

@media (max-width: 414px) {
  .info {
    margin-bottom: 37px;
  }
}

.info p {
  line-height: 1.25rem;
}

.icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 414px) {
  .icon-group {
    margin-bottom: 23px;
  }
}

.icon-group li {
  margin-right: 8px;
  cursor: pointer;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 414px) {
  .right-side {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.right-side img {
  width: 59px;
  height: 219px;
  margin-bottom: 46px;
}

@media (max-width: 414px) {
  .right-side img {
    display: none;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .icon-cart {
  color: #3F5D45;
  padding-left: 49px;
  font-size: 1.5rem;
}

@media (max-width: 414px) {
  .navbar .icon-cart {
    padding-left: 0;
  }
}

.logo-all {
  background: url(../image/logo-all-dark.svg) center center no-repeat;
  height: 40px;
  width: 219.5px;
}

@media (max-width: 414px) {
  .logo-all {
    background: url(../image/logotype-lg-dark.svg) center center no-repeat;
    height: 17.74px;
    width: 114.14px;
  }
}

.ham-icon {
  display: none;
}

@media (max-width: 414px) {
  .ham-icon {
    display: block;
    color: #3F5D45;
    font-size: 18px;
  }
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
  font-size: 1.25rem;
}

.dropdown li {
  padding: 0 1.875rem;
}

.dropdown li a {
  color: #3F5D45;
}

@media (max-width: 414px) {
  .dropdown {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    max-height: 0px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .dropdown li {
    padding: 0;
  }
  .dropdown li a {
    display: block;
    background: #EAF0ED;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 414px) {
  .dropdown.active {
    max-height: 240px;
  }
  .dropdown
.dropdown li a:hover {
    background: #8DA291;
  }
}

.p-30 {
  padding: 30px;
}

.px-30 {
  padding: 0 30px;
}

.py-30 {
  padding: 30px 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.btn {
  width: 100%;
  border: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.btn-secondary {
  padding: 16px 0;
  color: #3F5D45;
  background-color: #FFE180;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-white {
  color: #3F5D45;
  background-color: #FFFFFF;
  font-weight: 300;
}

.flex-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 414px) {
  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/*progressbar*/
/*https://codepen.io/designify-me/pen/qrJWpG*/
#progressbar {
  /*CSS counters to number the steps*/
  counter-reset: step;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#progressbar li {
  list-style-type: none;
  width: 33.33%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#progressbar li:before {
  content: '';
  counter-increment: step;
  width: 20px;
  height: 20px;
  display: block;
  background: #3F5D45;
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  margin: 0;
  z-index: 1;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #EAF0ED;
  position: absolute;
  left: -100%;
  top: 9px;
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #EAF0ED;
  border: 3px solid #3F5D45;
  -webkit-box-shadow: 0 0 0 1px #EAF0ED;
          box-shadow: 0 0 0 1px #EAF0ED;
}
/*# sourceMappingURL=checkout.css.map */