.checkout-card{
    display: flex;
    justify-content: center;
    margin: 60px 0;
    @include mobile{
        margin: 0;
    }
    .left{
        width: 460px;
        @include mobile{
            width: 100%;
        }
    }
    .right{
        width: 300px;
        margin-left: 20px;
        @include mobile{
            display: none;
        }
    }
}
.left{
    .left-content{
        padding: 30px 40px;
        background-color: $primary;
        color: $info;
    }
    .title{
        display: flex;
        justify-content: space-between;
        font-size: $font-5;
        font-weight: 600;
        margin-bottom: 30px;
    }
}
.right{
    .subtitle{
        padding: 16px 0;
        font-size: $font-2;
        font-weight: 600;
        text-align: center;
        color: $primary-light;
        background-color: $info;
    }
    .right-content{
        padding: 16px 20px;
        line-height: $font-1;
        color: $primary-light;
        border: 1px solid $info;
    }
}
.price-mark{
    font-size: $font-1;
    font-weight: 600;
}
.shoppingList{
    li{
        display: flex;
        align-items: center;
    }
    img{
        width: 120px;
        height: 80px;
        object-fit: cover;
        margin-right: 20px;
    }
}
.row{
    label{
        display: block;
        font-size: $font-1;
        color: $info;
        font-weight: 600;
    }
    input[type="text"], input[type="tel"], input[type="email"], .form-select{
        width: 100%;
        font-size: $font;
        padding: 17px 20px;
        border: 0;
        background-color: $info;
        color: $primary-light;
        outline: none;
        appearance: none;
        -webkit-appearance: none; 
        border-radius: 0;
    }
    input[type="text"]::placeholder{
        color: $primary-light;
    }
}
.row-fluid{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
}
//select arrow icon setting 
// safari用appearance會看不到箭頭,需額外增加arrow icon
select{
	background: url(../image/unfold_more_primary_24dp.svg) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    cursor: pointer;
    background-color: $info;
}
.creditcard-icon{
	background: url(../image/credit_card_primary_24dp.svg) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    background-color: $info;
}
.bill-btn{
    height: 56px;
    border: 1px solid $info;
    margin-bottom: 30px;
}