.btn{
    width: 100%;
    border: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.btn-secondary{
    padding: 16px 0;
    color: $primary;
    background-color: $secondary;
    font-size: $font-2;
    font-weight: 600;
}
.btn-white{
    color: $primary;
    background-color: $white;
    font-weight: 300;
}
.btn-primary{
    color: $info;
    background-color: $primary;
    font-weight: 600;
    font-size: $font-1;
    // border: 1px solid $info;
}
.btn-info{
    color: $primary;
    background-color: $info;
    font-weight: 600;
    font-size: $font-1;
    // border: 1px solid $primary;
}