footer{
    .footer-container{
        width: 780px;
        margin: 0 auto;
        @include mobile{
            width: 315px;
        }
    }
}
//--- mail ---//
.mailme{
    background-color: $primary;
    font-size: $font-2;
    .mailme-inner{
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }    
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            margin-bottom: 30px;
        }
    }
    .logo{
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
    p{
        color: $info;
    }
}
.input-group{
    width: 380px;
    display: flex;
    color: $primary;
    background-color: $info;
    @include mobile{
        width: 100%;
    }
    .icon{
        padding: 16px 20px;
    }
    input{
        flex: auto;
        color: $primary-light;
        background-color: $info;
        border: 0;
        padding: 0;
    }
    input:focus{
        outline: 0;
    }
    .submit{
        color: $primary;
        background-color: $secondary;
        cursor: pointer;
        border: 0;
        padding: 0;
        span{
            padding: 16px 20px;
        }
    }
}
//--- footer info ---//
.footer-main{
    background-color: $info;
    color: $primary;
    .logo-lg-dark{
        margin-top: 8.9px;
        margin-bottom: 115.5px;
        @include mobile{
            margin-bottom: 39.5px;
        }
    }
}
.footer-content{
    @include flex-x;
    @include mobile{
        flex-direction: column;
    }
}
.info{
    margin-bottom: 30px;
    @include mobile{
        margin-bottom: 37px;
    }
    p{
        line-height: $font-1;
    }
}
.icon-group{
    display: flex;
    @include mobile{
        margin-bottom: 23px;
    }
    li{
        margin-right: 8px;
        cursor: pointer;
    }
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile{
        align-items: start;
    }
    img{
        width: 59px;
        height: 219px;
        margin-bottom: 46px;
        @include mobile{
            display: none;
        }
    }
} 