.memberLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    @include mobile{
        padding: 0;
        flex-direction: column;
    }
    .left{
        @include mobile{
            width: 100%;
        }
    }
    .right{
        @include mobile{
            display: none;
        }
    }
    .title{
        font-size: $font-5;
        background-color: $primary;
        color: $info;
        padding: 40px 0;
        text-align: center;
        font-weight: 900;
        @include mobile{
            padding: 30px 0;
        }
    }
}
.login-form{
    padding: $spacer-3;
    background-color: $primary;
    width: 390px;
    @include mobile{
        width: 100%;
    }
    .input-group{
        display: flex;
        align-content: center;
        margin-bottom: 16px;
        width: 100%;   
    }
    .icon{
        padding: 16px 20px;
    }
    input[type="text"], input[type="password"]{
        color: $primary;
        background-color: $info;
        font-size: $font;
        border: 0;
    }
    input::placeholder{
        color: $primary-light;
    }
    input:focus{
        outline: 0;
    }
}
.form-check{
    display: flex;
    align-items: center;
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        margin-right: 8px;
        cursor: pointer;
    }
    label {
        cursor: pointer;
        color: $info;
        font-weight: 600;
    }
}
.linkSocialMedia{
    padding: 40px 30px 24px 30px;
    background-color: $info;
    display: flex;
    flex-direction: column;
    @include mobile{
        width: 100%;
        flex-direction: row;
        padding: $spacer-3;
    }
    .subtitle{
        font-size: $font-2;
        background-color: $info;
        color: $primary-light;
        text-align: center;
        margin-bottom: 36px;
    }
    .socialMediaLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 330px;
        height: 56px;
        border: 1px solid $info;
        margin-bottom: 16px;
        cursor: pointer;
        @include mobile{
            width: 105px;
            margin-bottom: 0;
        }
        img{
            width: 108px;
            @include mobile{
                width: 83px;
            }
        }
    }
}
.desktopDisplayNone{
    display: none;
    @include mobile{
        display: flex;
    }
}
