/*progressbar*/
/*https://codepen.io/designify-me/pen/qrJWpG*/
#progressbar {
    // overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    display: flex;
    align-items: flex-end;
}

#progressbar li {
    list-style-type: none;
    // color: white;
    // font-size: 9px;
    width: 33.33%;
    // float: left;
    position: relative;
    display: flex;
}
//圓
#progressbar li:before {
    content: '';
    counter-increment: step;
    width: 20px;
    height: 20px;
    // line-height: 26px;
    display: block;
    // font-size: 12px;
    // background: $primary;
    background: $primary;
    border: 1px solid $info;
    border-radius: 50%;
    // margin: 0 auto;
    margin: 0;
    z-index: 1;
}
//線
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%; 
    height: 1px;
    background: $info;
    position: absolute;
    // left: -50%;
    left: -100%;
    top: 9px;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: $info;
    border: 3px solid $primary; //圓內側框
    box-shadow: 0 0 0 1px $info;  //圓外框
}
