//color
$white: #FFFFFF;
$primary: #3F5D45;
$primary-light: #8DA291;
$secondary: #FFE180;
$info: #EAF0ED;
//spacer
$spacer: 1rem;
$spacer-1: $spacer * .5; //8px
$spacer-2: $spacer * 1.5; //24px
$spacer-3: $spacer * 1.875; //30px
//font
$font: 1rem;
$font-1: $font * 1.25; //20px
$font-2: $font * 1.5; //24px
$font-3: $font * 1.875; //30px
$font-4: $font * 2; //32px
$font-5: $font * 2.25; //36px



